*{}
.logo{
    
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: Raleway,sans-serif;
}
.logo{}

.logo-txt{ color: #4d5ae5} 
.logo-studio{ color:#2e2f42}
.abc{
text-decoration: none;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42
}
.abc:hover{color: #404bbf;}
.abc:active{ color: #404bbf;}
.address_mail{font-style: normal;
}


.my-head{background-color:#2e2f42;
font-size: 56px; 
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;}

.click{background-color: #4D5AE5;
font-weight: 500; font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
font-family: Roboto, sans-serif;
}
.click{color: #ffffff;
background-color: #404BBF;
}
.click:hover{background-color: #404BBF;}
.click:focus{background-color: #404BBF;
cursor: pointer;}

.sec-b{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
p{line-height: 1.5;
letter-spacing: 0.02;
color: #434455;}
.sec-c{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.sec-d{
    background-color: #F4F4FD;
}
.team{font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;}
body{
    font-family: Roboto, sans-serif;
}
body{color: #434455;
background-color: #ffffff;}

