.logo{
    font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.03em;
}
.logo-txt{ color: #4d5ae5} 
.logo-studio{ color:#2e2f42}
.link-page{
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42
}
nav{text-decoration: none;}
.link-page:hover{color:#404bbf}
address{font-style: normal;}
body{font-family: Roboto: sans-serif;
}
body{color: #434455;background: #ffffff;}
